---
const { title, url, img, desc, tools, reverseOrder} = Astro.props;
---

<article class="mx-auto h-[20rem] relative group ">
  <a href={url} target="_blank">
    <div class="flex ${reverseOrder ? 'flex-row-reverse' : ''}">
      <div class="container-img w-[55%]">
        <img
        class=" h-full w-full scale-100 "
        src={img}
        alt=""
      />
      </div>
      <div class="container-text w-[45%]">
        <h3 class=" font-semibold text-2xl">{title}</h3>
        <p>{desc}</p>
        <p>{tools}</p>
    </div>
    </div>
  </a>
  <!-- <div
    class="absolute w-full bottom-0 left-0 backdrop-blur-md dark:text-white text-white bg-black/50 p-4 translate-y-[100%] group-hover:translate-y-0 transition duration-700"
  > -->
    
  </div>
</article>
